@import 'variables';

.footer {
  padding: 30px;
  background: #282828;
  color: #FFF;
  &__img {
    height: 50px;
    margin-bottom: 20px;
  }
  &__p {
    margin: 5px 0;
    font-size: 12px;
  }
  &-block {
    color: #FFF;
    margin-bottom: 30px;
    &__title {
      color: $color-primary;
      font-size: 16px;
    }
    &__p {
      font-size: 14px;
      line-height: 18px;
    }
    &__visitor-number {
      color: #252525;
      background-color: #FFF;
      padding: 10px 5px;
      font-weight: bold;
      font-size: 20px;
    }
    &__link {
      color: #FFF;
      font-size: 22px;
      margin: 0 10px;
      &:hover,
      &:active {
        color: darken(#FFF, 20%);
        text-decoration: none;
      }
    }
  }
}